// Colors
$PRIMARY_DARK: #36003F;
$PRIMARY_COLOR: #79018D;
$PRIMARY_MEDIUM: #A87FAF;
$PRIMARY_LIGHT: #D5BBDB;
$PRIMARY_PALE: #EFE5F1;

$GRAY_DARK: #6F6974;
$GRAY_MEDIUM: #95989A;
$GRAY_LIGHT: #D9DDE0;

$WHITE_GOLD: #EAE6DA;

$YELLOW_HIGHLIGHT: $WHITE_GOLD;
$PURPLE_HIGHLIGHT: #CFC8E2;
