.btn {
  border-radius: $BORDER_RADIUS;
  border: 1px solid $WHITE_GOLD;
  color: $WHITE_GOLD;
  display: flex;
  font-size: 1.05em;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  background-color: rgba(59, 29, 74, 0.35);
  justify-content: center;
  align-items: center;
}
