.banner {
  align-items: center;
  background-color: $PRIMARY_DARK;
  color: $WHITE_GOLD;
  display: flex;
  height: 45vw;
  max-height: 450px;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  text-shadow: 2px 2px 5px #422052;

  & > * {
    z-index: 10;
  }

  h1 {
    font-size: 3em;
    margin: 0;
  }

  h5 {
    margin: 0;
  }

  img.background {
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 0;
  }

  img.bam {
    bottom: -7%;
    height: 105%;
    right: 5%;
    position: absolute;
    z-index: 5;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    z-index: 15;

    img.icon {
      border-radius: 45px;
      filter: grayscale(95%);
      width: 45px;
    }

    img.icon:hover {
      filter: none;
      box-shadow: 0 0 1px 1px $YELLOW_HIGHLIGHT;
    }
  }

  .profile-detail {
    font-size: 0.95em;
  }
}
