.main-navigation {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid $GRAY_LIGHT;
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 0 15px;
  position: sticky;
  top: 0;

  & > a {
    text-decoration: none;
    font-size: 1.25em;
    flex-grow: 0;
    padding: 10px 10px 5px;
  }

  .active {
    border-bottom: 2px solid $PRIMARY_COLOR;
  }
}
