// Constants
$PRIMARY_DARK: #36003F;
$PRIMARY_COLOR: #79018D;
$PRIMARY_MEDIUM: #A87FAF;
$PRIMARY_LIGHT: #D5BBDB;
$PRIMARY_PALE: #EFE5F1;

$GRAY_DARK: #6F6974;
$GRAY_MEDIUM: #95989A;
$GRAY_LIGHT: #D9DDE0;

$WHITE_GOLD: #EAE6DA;

$YELLOW_HIGHLIGHT: $WHITE_GOLD;
$PURPLE_HIGHLIGHT: #CFC8E2;

$BORDER_RADIUS: 5px;

body {
  font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding-bottom: 35px;
}

h1, h3, h5 {
  font-family: "Mrs Eaves OT", "Georgia", serif;
  font-weight: 100;
  margin: 0 0 10px 0;
}

h5 {
  font-family: "Minion Pro", "TimesNewRoman", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 100;
}

.section {
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// common styling
@import "buttons";

// page styling
@import "landing";
@import "about";

// partials styling
@import "main_navigation";
@import "footer";
