// Constants
$PRIMARY_DARK: #36003F;
$PRIMARY_COLOR: #79018D;
$PRIMARY_MEDIUM: #A87FAF;
$PRIMARY_LIGHT: #D5BBDB;
$PRIMARY_PALE: #EFE5F1;

$GRAY_DARK: #6F6974;
$GRAY_MEDIUM: #95989A;
$GRAY_LIGHT: #D9DDE0;

$WHITE_GOLD: #EAE6DA;

$YELLOW_HIGHLIGHT: $WHITE_GOLD;
$PURPLE_HIGHLIGHT: #CFC8E2;

$BORDER_RADIUS: 5px;

@import "buttons";

@import "landing";

body {
  margin: 0;
  font-family: "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-bottom: 35px;
}

h1, h3, h5 {
  margin: 0 0 10px 0;
  font-family: "Mrs Eaves OT", "Georgia", serif;
  font-weight: 100;
}

h5 {
  font-weight: 100;
  font-family: "Minion Pro", "TimesNewRoman", serif;
  font-style: italic;
  font-size: 1em;
}

.footer {
  background-color: white;
  text-align: center;
  padding: 5px;
  border-top: $GRAY_LIGHT 1px solid;
  font-family: "Minion-pro", serif;
  font-style: italic;
  font-size: 0.75em;
  color: $GRAY_LIGHT;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
}
